<script th:inline="javascript">
	var myevent = /*[[${eventdata}]]*/;
	var csn = /*[[${castservicename}]]*/;
	var cst = /*[[${castservicetimeout}]]*/;
	var devicelocation = /*[[${devicelocation}]]*/;
</script>
<div th:fragment="content">
	<p>HURRA, wir sind online: FIX: DeviceOnline.html / Provider 2</p>
	<p><h2 th:text="${eventdata.type.name}">Checkin/Checkout</h2></p>
	<p th:text="${devicelocation.locationName}">Where am I casting</p>
	<p th:text="${castservicename}">castservicename</p>
	<p th:text="${eventdata.device.friendlyName}">device name</p>	
</div>