<script th:inline="javascript">
	var eventmap = /*[[${eventjson}]]*/ [];
	var eventdata = JSON.parse(eventmap);
</script>
<div th:fragment="content">
	<p th:text="${servicename}">servicename</p>
	<p th:text="${user.familyName}">user.familyName</p>
	<p th:text="${user.userId}">user.userId</p>
	<p th:text="${user.googleuserId}">user.googleuserId</p>
	<p th:text="${#dates.format(user.lastCheckin)}">user.lastCheckin</p>
	<p th:text="${user.givenName}">user.givenName</p>
	<p th:text="${user.gender}">user.gender</p>
	<p th:text="${user.locale}">user.locale</p>
	<p th:text="${user.googleaccesstoken}">user.googleaccesstoken</p>
	<p th:text="${user.link}">user.link</p>
	<img src="sample.png" th:src="${user.picture}" />
</div>