<script th:inline="javascript">
	var eventdata = /*[[${event}]]*/;
	var csn = /*[[${castservicename}]]*/;
	var cst = /*[[${castservicetimeout}]]*/;
	var devicelocation = /*[[${devicelocation}]]*/;
</script>
<div th:fragment="content">
	<p><h2> th:text="${typ.name}">Checkin/Checkout</h2></p>
	<p th:text="${castservicename}">castservicename</p>
	<p th:text="${user.familyName}">user.familyName</p>
	<p th:text="${user.userId}">user.userId</p>
	<p th:text="${user.googleuserId}">user.googleuserId</p>
	<p th:text="${user.givenName}">user.givenName</p>
	<p th:text="${user.gender}">user.gender</p>
	<p th:text="${user.locale}">user.locale</p>
	<p th:text="${user.googleaccesstoken}">user.googleaccesstoken</p>
	<p th:text="${user.link}">user.link</p>
	<img src="sample.png" th:src="${user.picture}" />
</div>